<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="Register" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    emp_id  : <input type="text" name="emp_id"><br>
    emp_name: <input type="text" name="emp_name"><br>
    emp_age : <input type="text" name="emp_age"><br>
    username: <input type="text" name="username"><br>
    password: <input type="text" name="password"><br>
    <input type="file" name="image"><br>
    <input type="submit" value="Register"> 
  </form>
</body>
</html>